body {
    /*background-image: url("calendar.jpg");*/
    /*background-size: cover;*/
    padding: 20px;
    margin: 0;
    color: white;
}

.parallax {
    background-image: url("calendar.jpg");

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    color: black;
    clear: left;
    padding-top: 40px;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li{
    float: left;
    width: 300px;
    height: 50px;
    opacity: 0.8;
    line-height: 50px;
    text-align: center;
    color: white;
    background-color: black;
    text-decoration: none;
}

ul li a{
    text-decoration: none;
    color: white;
    display: block;
    background-color: black;
}

ul li a:hover {
    background-color: green;
    color: white;
    text-decoration: none;

}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
    z-index: 100;
}
h1, h2, p, ul, li {
    font-family: sans-serif;
}

h1{
     font-size: 80px;
     padding-top: 40px;
}

h2 {
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.componentContainer {
    background-color: white;
}

div.month {
    padding-top: 25px;
    width: 100%;
    text-align: center;
}

div.month button {
    position: relative;
    background-color: lightgrey;
    left: 30%;
    border: 1px solid black;
    color: black;
    padding-top: 15px;
    cursor: pointer;
    width: 40%;
    display: block;
    text-align: center;
}

.month button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
/*ul.header li {*/
    /*display: inline;*/
    /*list-style-type: none;*/
    /*margin: 0;*/
/*}*/
/*ul.header {*/
    /*background-color: black;*/
    /*padding: 0;*/
/*}*/
/*ul.header li a {*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*text-decoration: none;*/
    /*padding: 20px;*/
    /*display: inline-block;*/
/*}*/



/*.content h2 {*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/
/*.content li {*/
    /*margin-bottom: 10px;*/
/*}*/

/*:active {*/
    /*background-color: grey;*/
    /*text-decoration: none;*/
/*}*/