body {
    background-image: url("calendar.jpg");
    background-size: cover;
    padding: 20px;
    margin: 0;
    color: white;
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li{
    float: left;
    width: 300px;
    height: 50px;
    opacity: 0.8;
    line-height: 50px;
    text-align: center;
    font-color: white;
    background-color: black;
    text-decoration: none;
}

ul li a{
    text-decoration: none;
    color: white;
    display: block;
    background-color: black;
}

ul li a:hover {
    background-color: green;
    color: white;
    text-decoration: none;

}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
}
h1, h2, p, ul, li {
    font-family: sans-serif;
}
 h1{
     background-color: white;
     background-size: 400px;
 }
/*ul.header li {*/
    /*display: inline;*/
    /*list-style-type: none;*/
    /*margin: 0;*/
/*}*/
/*ul.header {*/
    /*background-color: black;*/
    /*padding: 0;*/
/*}*/
/*ul.header li a {*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*text-decoration: none;*/
    /*padding: 20px;*/
    /*display: inline-block;*/
/*}*/
.content {
    background-color: white;
    color: black;
    padding: 20px;
    clear: left;
}
/*.content h2 {*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/
/*.content li {*/
    /*margin-bottom: 10px;*/
/*}*/

/*.active {*/
    /*background-color: yellow;*/
/*}*/